
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@600&display=swap');
body{
    background-color: #fff;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    transition: all 0.4s;
    padding: 0;
   
}

#crop-list .div{
    display: grid;
    background-color: #fff;
    max-width: 20%;
}

#crop-list li{
    list-style-type: none;
}


.container{
    margin-left: 5%;
    margin-right: 5%;
}

.container1{
    margin-top: 2em;
    width:100%;
    display: flex;
}
.container1 img{
    margin: 1rem;
    width: 80%;
    margin-right: 2em;
}

.gif-display{
    color: #fff;
    text-align: left;
    max-width: 100%;
    margin: 0 0 0 2em;
    justify-content: center;
}
.gif-display p{
    margin-left: 2em;
    width: 75%;
}

/* Navbar section */

header{
    width: 100%;
    background-image: url('images/smile2.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    overflow: hidden;

    
}
.nav{
    height: 20em;
}

.nav div.logo{
    margin: 1rem;
    
    position: absolute;
}
.nav div.logo img{
    border-radius: 100%;
}

.nav div.logo a{
    text-decoration: none;
  
    text-transform: uppercase;
}

/* .nav div.logo a:hover {
    color: #c0c0c0;
} */

.break{
    display: none;

}

.row{
    margin-top: -4em;
    margin-left: 5rem;
    
}
.row h3{
    /* position: relative; */
    color: #fff;
    font-weight:bold;
    width: 70%;
    letter-spacing: 7px;
    overflow: hidden;
    border-right: 2px solid #46A908;
    white-space: nowrap;
    animation: typewriter 4s steps(44) 1s 1 normal both,
      blinkTextCursor 500ms infinite;
  }
  
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 710px;
    }
  }
  @keyframes blinkTextCursor {
    from {
      border-right-color: hsl(0, 0%, 80%);
    }
    to {
      border-right-color: transparent;
    }
  }
 
.dropdown{
    margin-top:-.4rem ;
}

#dropdownMenuButton:hover{
  color: #46A908;
  background-color: #fff;
}
.dropdown-menu{
    margin-left: -1.5em;
  
}
.dropdown-menu a{
    color: #46A908;
}
.dropdown-menu a:hover{
    background-color: #46A908;
    color: #fff;
}



.main_list{
    display: flex;

}

.nav div.main_list{
    width: 70%;
    margin-left: 50%;
    margin-top: 2rem;
    position: relative;
    z-index: 2;
}

.nav div.main_list ul{
    width:70%;
    display: flex;
    list-style: none;
}

.nav div.main_list ul li{
    width: 50%;
    /* height: 65px; */
    
    
}

.nav div.main_list ul li a{
    text-decoration: none;
    color: #46A908;
    /* line-height: 4em; */
    background-color: #fff;
    padding: .6rem;
    margin: .5rem;
    border-radius: 12px;
    text-transform: uppercase;
}

.nav div.main_list ul li a:hover{
    color: #fff;
   background-color: #46A908;
   
}
.nav div.media_button img{
    border-radius: .5rem;
}

.nav div.media_button {
    height: 3em;
    position: absolute;
    right: 15px;
    top: 12px;
    display: none;
}
.nav div.media_button:hover{
    opacity: 0.7;
}



.nav div.media_button button.main_media_button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: 0;
    border: none;
    cursor: pointer;
}



.head-img{
    display: grid;
        margin-left: 60%;
        margin-bottom: 2em;
       
}
    .caption{
    color: #fff;
}

.head-img img{
    border-radius: 2rem;
    max-width: 50%;


}
/* Home section */




.main-con1{
    display: flex;
    background:#46A908;
    padding-bottom: 3em;
}

.main-con1 h1{
    /* position: relative;
    left: 20%;
    z-index: 2; */
    text-decoration: underline;
    display: grid;
    color: #fff;
    margin-left: 2rem;
    justify-content: space-between;
    text-align: center;
    margin-top: .3em;
}
.crop-container{
    display:flex;
    margin-right: 5%;
}

.crop-info{
    margin-top: 7em;
    padding: .5rem;
    color: #fff;
    border: #fff;
    border-style: groove;
    border-radius: 2rem;
    margin-left: 1rem;
    /* max-width: 50%; */
}

.main-side2{
    width: 100%;

}

.main-side2 p{
    text-align: center;
    justify-content: space-around;
    max-width: 70%;
    color: #fff;
    margin: 2rem;
}
.main-side2 img{
    max-width:70%;
    border-radius: 1.5rem;
    margin-left: 5%;
}

.main-side1{
    margin-top: 4rem;
    width: 100%;
}

.main-side1 h1{
    max-width: 65%;
    color: #fff;
    padding: 1rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
}

.main-side1 a, .main-side2 a {
  

    text-decoration: none;
    color: #fff;
    padding: 1rem;
    width: 15%;
    backdrop-filter: blur(1px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.42);
    border-radius: 12px;    
    border: 1px solid rgba(209, 213, 219, 0.3);
}
.main-side1 a{
    margin-left:15%;
}



.Hotbg
{
    position: absolute;
    margin-left: 30%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    height: 20px;
    border-radius: 40px;
    padding: 10px;
    padding-bottom: 3em;
    color: #46A908;
    text-align: center;
    justify-content: center;

}

.Hotbg:hover > .Hotbg-txt
{
    width: 30%;
    padding: 0;

}

.Hotbg:hover > .Hotbg-btn
{
    background: #fff;
    color: #46A908;
    outline: none;
  

}

.Hotbg-btn
{
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: #fff;
    cursor: pointer;
    outline: none;
    
}

.Hotbg-btn > i
{
    font-size-adjust: 30px;
    color: #46A908; 

}


.Hotbg-txt
{
    text-align: center;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #46A908;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
}


.main-side1 h1{
    margin-top: 3em;
}
 .nav-list a:hover{
    background-color:#fff;
    padding: 1rem;
    border-radius: 12px;

    
}
footer{
    height: 20em;
    background: #0f1110;
    margin: 0 auto;
    padding-top: 3em;
}
.foot-img{
    margin-left: 2rem;

}
.foot-img a{
    margin: .2rem;
    width: 2rem;
    height: 2rem;
    padding: .3rem;
    border-radius: 100%;
    text-decoration: none;
}
.foot-img a:hover{
    color: #fff;
}

.copy-desk{
    margin-top: 3em;
    justify-content: center;
    display: flex;
    max-width: 70%;
    margin-left: 4rem;
}
.copy-desk img{
    margin-right: 3%;
}
.copy-desk p{
    color: #fff;
   
  
}
.subscribe{
    display:grid ;
    float: right;
    margin-right: 2em;
}
.subscribe h4{
    color: #fff;
    margin: 1rem;
}

.subscribe input{
    color: #fff;
    background-color: #46A908;
    padding: .2rem;
    border-style: none;
    margin: .2rem;
    outline: none;

}
.subscribe input:hover{
    color: #46A908;
    background-color: #fff;
}

.btn-group{
    display: none;
}

.btn-contain button{
    margin-top: 5em;
}

.login{
    display: grid;
    justify-content: center;
    
}

.login input{
    max-width: 15rem;
    padding: .4rem;
    margin: 4em 1.5rem 1rem 1.5rem;
    outline: none;
    color: #46A908;

}


.main-login-chamber{
    height: 30em;
   background: #46A908;
  
}


.btn-sucess {
    color: #fff;
    background: #46A908;
    padding: .3rem;
   
}
.btn-sucess:hover{
    color:#46A908;
    background-color: #fff;
    border-color: #fff;
    border-radius: .5rem;
}

.crop-div{
    background-color: #fff;
    color: #46A908;
    position: absolute;
    margin-top: 7em;  
    z-index: 2;
    width: 15%;
    display: none;
    margin-left: 7%;
    text-align: center;

}

/* LOADER */

#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-image: url("images/Spinner-1.2s-190px.gif");
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa {
    text-align: center;
    text-decoration: none;
    padding: .1rem;
    margin: .1rem;
    /* padding-top:.2rem; */
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-instagram {
    background: #bb0000;
    color: white;
  }
/* LOADER */

#active{
    color: #fff;
    background-color: #46A908;
}



/* Mobile section */

@media screen and (max-width:960px ) {

header{
    /* padding-bottom: 2em; */
    margin-bottom:-5em ;

}
.head-img{
   display: none;
}
.row{
    margin-bottom: 7em;
}
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    .container{
        margin: 0;
    }
    
}




@media screen and (max-width:768px) {
    
    body{
        max-width: 100%;
        width: 100%;
    }

    header{
        height: 14em;
        margin-bottom: -2em;
        
    }
   
    .container{
        margin: 0;
    }
    .container1{
        display: grid;
        margin-right: 2em;
    }
    .container1 img{
        margin: .1rem;
       width: 75%;
       /* margin-left: 20%; */
    }
    .blog-text{
        display: grid;
    }
   

  
    .nav div.logo{
        margin-left: 15px;
    }
    

    
    .nav div.main_list{
        width: 70%;
        margin-top: 1em;
        height: 0px;
        overflow: hidden;
    }
    
    .nav div.show_list{
        height: 20em;
        position: absolute;
        z-index: 1;
        right: 6rem;
    }
    
    .nav div.main_list ul{
        width: 100%;
        height: 9em;
        display: grid;
        margin-right: 10%;
        
    }
    
    .nav div.main_list ul li{
        width: 100%;
        height: 3rem;
        margin-bottom:1rem ;
        
    }
    
    .nav div.main_list ul li a{
      text-align: center;
        line-height: 40px;
        width: 100%;
        height: 3.5em;
        display: grid;
        background-color: #fff;
    }


   
    
    .nav div.media_button{
        display: block;

    }
    .head-img{
        display: none;
    }
    .row{
        display: flex;
        top: 1em;

    }
    .main-con1{
    display: grid;
    padding-top: 4em;
}

    .main-side1 a{
        max-width: 30%;
    }
    .dropdown{
        display: none;
      
    }
    .btn-group{
        margin-left: 60%;
    }
    .btn-group button{
        border:#fff 2px solid ;
    }

    
      

    .dropdown-menu a{
        color: #46A908;
        background-color: #fff;
        padding: 1rem;
        margin-right: 2em;
       
    }
    
    .dropdown-menu a:hover{
        color:#fff;
        color: #46A908;
      
    }

  


      .btn-group{
        display: grid;
        margin-top: -2em;
        margin-right: 5%;
      }
      footer{
        height: 25em;
      }
      .crop-container{
        display: grid;
        max-width: 70%;
        margin-left: 3em;
      }
   
}
@media screen and (max-width: 400px){

    header{
        height: 11em;
    }


    .main-side1 h3{
        font-size: medium;
    }




    footer{
        height: 27em;
    }

    /* .copy-desk{
        margin-top: -3em;
    } */



        .nav div.main_list{
        width: 70%;
        margin-top: 1em;
        height: 0px;
        overflow: hidden;
    }
    
    .nav div.show_list{
        height: 20em;
        position: absolute;
        z-index: 1;
        right: 6rem;
    }
    
    .nav div.main_list ul{
        width: 100%;
        height: 9em;
     
        margin-right: 10%;
        
    }
    
    .nav div.main_list ul li{
        width: 100%;
        height: 3rem;
        margin-bottom:1rem ;
        
    }
    
    .nav div.main_list ul li a{
      text-align: center;
        line-height: 40px;
        width: 100%;
        height: 3.5em;
        display: grid;
       
        /*  */
        background-color: #fff;
    }
    
}